{
  "NIXE_PHASH_SOURCE_THREAD_ID": "1409949797313679492",
  "NIXE_PHASH_DB_THREAD_ID": "1431192568221270108",
  "PHASH_DB_MESSAGE_ID": "0",
  "PHASH_DB_STRICT_EDIT": "1",
  "NIXE_PHASH_AUTOBACKFILL": "0"
}